<h2>Produtos</h2>

<button (click)="create()">Novo Produto</button>

<table border="1" cellpadding="10" style="margin-top: 15px;">
  <tr>
    <th>ID</th>
    <th>Nome</th>
    <th>Preço</th>
    <th>Categoria</th>
    <th>Ações</th>
  </tr>

  <tr *ngFor="let p of products">
    <td>{{ p.id }}</td>
    <td>{{ p.nome }}</td>
    <td>{{ p.preco }}</td>
    <td>{{ p.categoria }}</td>
    <td>
      <button (click)="edit(p.id)">Editar</button>
      <button (click)="delete(p.id)">Excluir</button>
    </td>
  </tr>
</table>
